div{
    outline:1px solid lime;
}
.container{
    width:920px;
    margin-left: auto;
    margin-right: auto;
}

.header{
    background-color: blue;
    width:920px;
    height:200px;
}

.content{
    background-color:red;
    height:500px;
    width:920px;
}

.green{
    background-color: green;
    height:200px;
    width:920px;
}

.yellowbox{
    background-color: yellow;
    height:460px;
    width:430px;
    float:left;
    margin-top: 20px;
    margin-left: 20px;
}